<ion-header>
    <ion-toolbar>
        <ion-title>Login</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-label>E-Mail*</ion-label>
        <ion-input class="ion-text-end"
                   #email placeholder="E-Mail"
                   clearOnEdit="false"
                   [(ngModel)]="mailForLogIn"
                   type="email"
                   required>
        </ion-input>
    </ion-item>

    <ion-item>
        <ion-label>Passwort*</ion-label>
        <ion-input class="ion-text-end"
                   placeholder="Passwort"
                   clearOnEdit="false"
                   [(ngModel)]="passwordForLogIn"
                   type="password"
                   required>
        </ion-input>
    </ion-item>

    <p class="ion-text-end ion-padding-end" style="color:var(--ion-color-danger)"
       *ngIf="errors.get('wrongData')"> {{errors.get('wrongData')}}</p>

    <ion-button [title]="'Login'" (click)="login(mailForLogIn,passwordForLogIn)">Login</ion-button>

    <p class="margin"> Noch keinen Account? Dann registriere dich
        <a (click)="router.navigate(['register']);">
            hier!
        </a>
    </p>
</ion-content>
