<ion-header>
    <ion-toolbar>
        <ion-title>Sendungsverfolgung</ion-title>
        <ion-buttons slot="start">
            <!--<ion-back-button></ion-back-button>-->
            <ion-back-button defaultHref="login"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card>
        <ion-card-header>
            <p class="title">Transporter</p>
            <ion-card-subtitle>Gießen -> Berlin</ion-card-subtitle>
            <ion-card-subtitle>Voraussichtliche Ankunft: 24.12.2020 18:30 Uhr</ion-card-subtitle>
        </ion-card-header>
    </ion-card>

    <ion-card>
        <ion-card-content></ion-card-content>
    </ion-card>
</ion-content>
