<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Angebote</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="cargo-content">
  <ng-container *ngIf="filtertAngebote.length < 1">
    <app-angebot-card *ngFor="let i of [0,1,2]" [inputAngebot]=""></app-angebot-card>
  </ng-container>
  <ng-container *ngIf="filtertAngebote.length > 0">
    <app-angebot-card *ngFor="let angebot of filtertAngebote" [inputAngebot]="angebot"></app-angebot-card>
  </ng-container>
  </div>
</ion-content>
