<div *ngIf="this.user.id && angebot._ID">
    <ion-card class="border-card-orange">
        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
        <ion-item lines="none">
            <h3 slot="start">{{fahrzeug.marke || 'Fahrzeug nicht hinterlegt'}} {{fahrzeug.modell || ''}}</h3>
            <ion-badge color="secondary" slot="end">{{interessentenText}}</ion-badge>
        </ion-item>
        <ion-item lines="none">
            <h4 slot="start">{{angebot.abfahrtOrt}}</h4>
            <ion-icon class="center" name="arrow-forward"></ion-icon>
            <h4 slot="end">{{angebot.ankunftOrt}}</h4>
        </ion-item>
        <ion-item lines="full">
            <p slot="start">Ankunft:</p>
            <p slot="end">{{angebot.ankunftDatum}}, {{angebot.ankunftZeit}}</p>
        </ion-item>
        <ion-icon [class.spin]="dropdown" class="center transition pointer" size="large" name="chevron-down-outline"
                  (click)="dropdown= !dropdown"></ion-icon>
    </ion-card>
    <!-- Dropdown -->
    <ion-card [class.card-dropdown-disabled]="!dropdown" class="card-dropdown">

        <!-- Fahrzeug -->
        <ion-item lines="full" *ngIf="angebot">
            <ion-label slot="start">
                Fahrzeug:
            </ion-label>
            <ion-label>
                {{fahrzeug.marke || 'Fahrzeug nicht hinterlegt'}} {{fahrzeug.modell || ''}}
            </ion-label>
        </ion-item>

        <!-- Start Adresse -->
        <ion-item lines="full">
            <ion-label slot="start">
                Start Adresse:
            </ion-label>
            <ion-label>
                {{angebot.abfahrtStrasse}},<br>
                {{angebot.abfahrtPlz}} {{angebot.abfahrtOrt}}
            </ion-label>
        </ion-item>
        <!-- Ziel Adresse -->
        <ion-item lines="full">
            <ion-label slot="start">
                Ziel Adresse:
            </ion-label>
            <ion-label>
                {{angebot.ankunftStrasse}},<br>
                {{angebot.ankunftPlz}} {{angebot.ankunftOrt}}
            </ion-label>
        </ion-item>
        <!-- Profil -->
        <ng-container *ngIf="this.angebot.erstellerId">
            <ion-item lines="full" >
                <ion-label slot="start">
                    Ersteller:
                </ion-label>
                <ion-avatar class="ion-margin">
                    <img src="{{ersteller.profileImage || 'https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y'}}">
                </ion-avatar>
                <ion-label>
                    {{ersteller.vorname || 'Ladefehler'}} {{ersteller.nachname || 'Ladefehler'}}
                </ion-label>
            </ion-item>
            <!-- Telefon -->
            <ion-item lines="full">
                <ion-label slot="start">
                    Telefon:
                </ion-label>
                <ion-label>
                    {{ersteller.telefon || 'Ladefehler'}}
                </ion-label>
            </ion-item>
        </ng-container>
        <ion-item lines="full" *ngIf="!(this.angebot.erstellerId)">
            <ion-label slot="start">
                Ersteller:
            </ion-label>
            <ion-label>
                <em>Fehler bei dem Darstellen des Erstellers!</em>
            </ion-label>
        </ion-item>
        <!-- Bezahlung -->
        <ion-item lines="full">
            <ion-label slot="start">
                Bezahlung:
            </ion-label>
            <ion-label>
                {{angebot.bezahlung}}
            </ion-label>
        </ion-item>
        <!-- Interessenten -->
        <ng-container *ngIf="this.user.id && this.user.id === this.angebot.erstellerId && angebot._ID">
            <ion-item lines="none">
                <ion-label slot="start">Interessenten:</ion-label>
                <ion-label *ngIf="interessenten.length === 0"><em>Es gibt noch keine Interessenten.</em></ion-label>
            </ion-item>
            <ion-item lines="inset" *ngFor="let interessent of this.interessenten">
                <ion-avatar slot="start">
                    <img src="{{interessent.user.profileImage || 'https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y'}}">
                </ion-avatar>
                <ion-label>
                    {{interessent.user.vorname}} {{interessent.user.nachname}}
                </ion-label>
                <ion-icon slot="end" name="information-circle-outline" (click)="infoPopoverInteressent(interessent.interessent)"></ion-icon>
                <ion-icon slot="end" color="primary" name="checkmark-circle-outline" (click)="this.interessentAnnehmen(interessent.interessent)"></ion-icon>
                <ion-icon slot="end" color="secondary" name="close-circle-outline" (click)="interessentEntfernen(interessent.interessent)"></ion-icon>
            </ion-item>
            <ion-item lines="none">
                <ion-label slot="start">Kunden:</ion-label>
                <ion-label *ngIf="kunden.length === 0"><em>Es wurden noch keine Interessenten angenommen.</em></ion-label>
            </ion-item>
            <ion-item lines="inset" *ngFor="let kunde of this.kunden">
                <ion-avatar slot="start">
                    <img src="{{kunde.user.profileImage || 'https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y'}}">
                </ion-avatar>
                <ion-label>
                    {{kunde.user.vorname}} {{kunde.user.nachname}}
                </ion-label>
                <ion-icon slot="end" name="information-circle-outline" (click)="infoPopoverInteressent(kunde.kunde)"></ion-icon>
            </ion-item>
        </ng-container>

        <!-- Buttons Angebot -->
        <div *ngIf="this.user.id && this.user.id === this.angebot.erstellerId && angebot._ID" class="ion-text-center ion-margin">
            <ion-button *ngIf="!angebot.fahrtId" (click)="starteFahrt()">Fahrt starten</ion-button>
            <ion-button *ngIf="angebot.fahrtId && !fahrt.beendet" (click)="fahrtBeenden()">Fahrt beenden</ion-button>
            <ion-button *ngIf="angebot.fahrtId && fahrt.beendet" disabled="true"><em>Fahrt wurde beendet</em></ion-button>
        </div>
        <div *ngIf="this.user.id && this.user.id !== this.angebot.erstellerId && angebot._ID"class="ion-text-center ion-margin">
            <ion-button *ngIf="!angebot.fahrtId && angebot.isInteressent(this.user.id) && !angebot.isKunde(this.user.id)" disabled="true"><em>Anfrage ausstehend</em></ion-button>
            <ion-button *ngIf="angebot.fahrtId && angebot.isInteressent(this.user.id) && !angebot.isKunde(this.user.id)" disabled="true"><em>Anfrage abgelehnt</em></ion-button>
            <ng-container *ngIf="!angebot.fahrtId && angebot.isKunde(this.user.id)">
                <em>Sobald der Fahrer die Fahrt beginnt ist das Tracking möglich.</em><br>
                <ion-button class="ion-margin-top" disabled="true"><em>Fahrt tracken</em></ion-button>
            </ng-container>
            <ion-button *ngIf="angebot.fahrtId && angebot.isKunde(this.user.id)">Fahrt tracken</ion-button>
            <ion-button *ngIf="!angebot.isInteressent(this.user.id) && !angebot.isKunde(this.user.id)" (click)="angebotAnfragen()">Anfragen</ion-button>
        </div>
    </ion-card>
</div>

<!-- Skeleton screen -->
<div *ngIf="!(this.user.id && angebot._ID)">
    <ion-card class="ion-padding custom-skeleton border-card-orange">
        <ion-item lines="none">
            <ion-skeleton-text slot="start" animated style="width: 30%"></ion-skeleton-text>
            <ion-skeleton-text slot="end" animated style="width: 10%"></ion-skeleton-text>
        </ion-item>
        <ion-item lines="none">
            <ion-skeleton-text slot="" animated style="width: 25%"></ion-skeleton-text>
            <ion-icon class="center" name="arrow-forward"></ion-icon>
            <ion-skeleton-text slot="" animated style="width: 25%"></ion-skeleton-text>
        </ion-item>
        <ion-item lines="full">
            <ion-skeleton-text slot="start" animated style="width: 30%"></ion-skeleton-text>
            <ion-skeleton-text slot="end" animated style="width: 10%"></ion-skeleton-text>
            <ion-skeleton-text slot="end" animated style="width: 20%"></ion-skeleton-text>
        </ion-item>
        <ion-icon class="center" size="large" name="chevron-down-outline"></ion-icon>
    </ion-card>
</div>
