<ion-footer>
    <ion-toolbar>
        <ion-row class="ion-justify-content-around" style="max-width: 600px; margin: auto">
            <ion-button color="none" (click)="changePage.route('suchen')">
                <ion-icon slot="icon-only" name="search-outline"></ion-icon>
            </ion-button>

            <ion-button color="none" (click)="changePage.route('messages')">
                <ion-icon slot="icon-only" name="list"></ion-icon>
                <!--        Anderes Icon eventuell einbinden, wenn es ungelesene Nachrichten gibt-->
                <!--        <ion-icon name="mail-unread"></ion-icon>-->
            </ion-button>

            <ion-button color="none" (click)="changePage.route('profile')">
                <ion-icon slot="icon-only" name="person"></ion-icon>
            </ion-button>
        </ion-row>
    </ion-toolbar>
</ion-footer>
