@media only screen and (min-width: 600px) {
  .info {
    text-align: center;
  }
  ion-input, ion-card {
    max-width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  ion-card {
    max-width: 50%;
  }
}

.content {
  background-color: #EFEEEE;

  // position: fixed;
  // top: 15%;
}

ion-card {
  border-radius: 50px;
  font-size: 25px;
  background-color: #FFFFFF;
}

img {
  width: 500px;
  height: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
}

.title {
  text-align: center;
}

.auth-button {
  width: 150px;
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
  color: white;
  background-color: #1D5A52;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

ion-input {
  --placeholder-color: #1D5A52;
  --placeholder-font-weight: bold;
  border: solid 3px #1D5A52;
  border-radius: 10px;
  margin-bottom: 15px;
}

.info {
  font-size: 20px;
  color: #1D5A52;
}
