<ion-header>
  <ion-toolbar>
    <ion-title>Gesuche</ion-title>
    <ion-buttons slot="start">
      <!--<ion-back-button></ion-back-button>-->
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="cargo-content">
  <ng-container *ngIf="filtertGesuche.length < 1">
    <app-gesuch-card *ngFor="let i of [0,1,2]"></app-gesuch-card>
  </ng-container>
  <ng-container *ngIf="filtertGesuche.length > 0">
    <app-gesuch-card *ngFor="let gesuch of filtertGesuche" [inputGesuch]="gesuch" [inputUser]="user"></app-gesuch-card>
  </ng-container>
  </div>
</ion-content>
<app-navbar></app-navbar>
