<ion-header translucent>
    <ion-toolbar>
        <ion-title>Fahrzeug auswählen</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="modalController.dismiss()">Close</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen *ngIf="this.userFahrzeuge.length > 0 else keinFahrzeug">
    <ion-list>
        <ion-item *ngFor="let fahrzeug of this.userFahrzeuge" (click)="this.selectFahrzeug(fahrzeug)">
            <ion-label>
                <h2>{{fahrzeug.marke}} {{fahrzeug.modell}}</h2>
                <h3>{{fahrzeug.fahrzeugart}}</h3>
                <p>{{fahrzeug.nummernschild}}</p>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>


<ng-template style="text-align: center; margin: 0; color: #1e2023" #keinFahrzeug>
    <ion-button style="margin: auto; top: 20%" size="small" class="small-add" (click)="modalController.dismiss();
        changePage.route('profile')">
        <ion-icon name="add" slot="icon-only"></ion-icon>
    </ion-button>
</ng-template>
