<ion-header>
    <ion-toolbar>
        <ion-title>Profil</ion-title>
        <ion-icon class="logout" (click)="authService.logOut()" name="log-out-outline" slot="end"></ion-icon>
    </ion-toolbar>
</ion-header>


<ion-content class="ion-margin-horizontal">
    <div class="cargo-content">
        <!------------------------>
        <!-- PROFILE CONTAINER  -->
        <!------------------------>

        <ion-card>


            <ion-item lines="none">
                <ion-avatar style="height: 50px; width: 50px" slot="start">
                    <ion-img src="https://firebasestorage.googleapis.com/v0/b/mycargonaut-8ae2c.appspot.com/o/man.jpeg?alt=media&token=f73fcaba-cdb1-4a80-ac95-3c6defe453bf" alt="profilbild"></ion-img>
                </ion-avatar>

                <ion-label class="ion-margin">
                    <h2>{{this.authService.user.vorname || 'lädt...'}}</h2>
                    <h2>{{this.authService.user.nachname || 'lädt...'}}</h2>
                </ion-label>

                <ion-col style="height: 50px;" class="stars">
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star-half-outline"></ion-icon>
                    <ion-icon name="star-outline"></ion-icon>
                </ion-col>
            </ion-item>


            <ion-item lines="full">
                <p>
                    <ion-icon name="mail-outline" slot="start"></ion-icon>
                    {{this.authService.user.email}}
                </p>
            </ion-item>

            <ion-item lines="full">

                <p>
                    <ion-icon name="call-outline" slot="start"></ion-icon>
                    0123 456789
                </p>
            </ion-item>


            <ion-row class="ion-justify-content-center">
                <ion-col size="6">
                    <ion-button expand="block" class="bg-yellow">Profil löschen</ion-button>
                </ion-col>
                <ion-col size="6">
                    <ion-button expand="block" class="bg-green">Profil editieren</ion-button>
                </ion-col>
            </ion-row>
        </ion-card>

        <!-------------------------->
        <!-- FAHRZEUGE CONTAINER  -->
        <!-------------------------->
        <br>
        <ion-list-header>
            Meine Fahrzeuge
        </ion-list-header>
        <ion-card>
            <ng-container *ngFor="let car of cars; last as isLast">
                <ion-item [lines]="isLast ? 'none' : 'full'">
                    <ion-label>
                        <h2>{{car.marke}} {{car.modell}}</h2>
                        <p>{{car.nummernschild}}</p>
                    </ion-label>
                    <ion-icon name="create-outline" slot="end" class="action-btn icon-green" (click)="this.openFahrzeugdetails(this.car, false, true)"></ion-icon>
                    <ion-icon name="trash" slot="end" class="action-btn icon-yellow" (click)="this.deleteFahrzeug(car.id)"></ion-icon>
                    <ion-icon name="chevron-forward-outline" slot="end" class="forward-chevron" (click)="openFahrzeugdetails(this.car, true, false)"></ion-icon>
                </ion-item>
            </ng-container>
        </ion-card>


        <ion-row class="ion-justify-content-center">
            <ion-button class="add-btn" (click)="this.openFahrzeugdetails(this.car, false, false)">
                <ion-icon name="add" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-row>


<!--        <ion-row class="ion-justify-content-center">-->
<!--            <ion-button>-->
<!--                Button für Interessenten annehmen usw.-->
<!--            </ion-button>-->
<!--        </ion-row>-->
    </div>
</ion-content>

<app-navbar></app-navbar>

