<ion-header translucent>
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-button (click)="dismiss()">Schließen</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list class="ion-margin-horizontal">
        <h2 class="ion-text-center">Transportgesuch erstellen</h2>
        <ion-row>
            <ion-segment style="max-width: 400px; margin: auto" mode="ios" (ionChange)="segmentChanged($event)" [(ngModel)]="tabSwitch">
                <ion-segment-button value="start">
                    <ion-label>Start</ion-label>
                </ion-segment-button>
                <ion-segment-button value="ziel">
                    <ion-label>Ziel</ion-label>
                </ion-segment-button>
            </ion-segment>
        </ion-row>
        <div [ngSwitch]="tabSwitch">
            <!---------------------------------------------->
            <!------------------ Ziel Tab ------------------>
            <!---------------------------------------------->
            <div *ngSwitchCase="'ziel'">
                <ion-row>
                    <ion-col>

                            <ion-item lines="none">
                                <ion-label class="label-margin" position="floating">Ankunftsdatum und -uhrzeit</ion-label>
                                <ion-datetime displayFormat="DD/MM/YYYY +HH:mm" [min]="now" [max]="now + 2" placeholder="Ankunftsdatum wählen" [(ngModel)]="endDate"></ion-datetime>
                            </ion-item>
                            <ion-text class="ion-text-end ion-padding-end"
                                      style="color:var(--ion-color-danger)"
                                      *ngIf="errors.get('ankunftDatum')">
                                {{errors.get('ankunftDatum')}}
                            </ion-text>

                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="9">
                        <ion-item lines="none">
                            <ion-label class="label-margin" position="stacked">Straße</ion-label>
                            <ion-input [readonly]="detailmode"
                                       [(ngModel)]="gesuch.ankunftStrasse" type="text"></ion-input>
                            <ion-text class="ion-text-end ion-padding-end"
                                      style="color:var(--ion-color-danger)"
                                      *ngIf="errors.get('ankunftStrasse')">
                                {{errors.get('ankunftStrasse')}}
                            </ion-text>
                        </ion-item>
                    </ion-col>
                    <ion-col size="3">
                        <ion-item lines="none">
                            <ion-label class="label-margin" position="stacked">Nr.</ion-label>
                            <ion-input [readonly]="detailmode"
                                       [(ngModel)]="ankunftNummer" type="text"></ion-input>
                            <ion-text class="ion-text-end ion-padding-end"
                                      style="color:var(--ion-color-danger)"
                                      *ngIf="errors.get('ankunftNummer')">
                                {{errors.get('ankunftNummer')}}
                            </ion-text>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="4">
                        <ion-item lines="none">
                            <ion-label class="label-margin" position="stacked">PLZ</ion-label>
                            <ion-input [readonly]="detailmode"
                                       [(ngModel)]="gesuch.ankunftPlz" type="number"></ion-input>
                            <ion-text class="ion-text-end ion-padding-end"
                                      style="color:var(--ion-color-danger)"
                                      *ngIf="errors.get('ankunftPlz')">
                                {{errors.get('ankunftPlz')}}
                            </ion-text>
                        </ion-item>
                    </ion-col>
                    <ion-col size="8">
                        <ion-item lines="none">
                            <ion-label class="label-margin" position="stacked">Ort</ion-label>
                            <ion-input [readonly]="detailmode"
                                       [(ngModel)]="gesuch.ankunftOrt" type="text"></ion-input>
                            <ion-text class="ion-text-end ion-padding-end"
                                      style="color:var(--ion-color-danger)"
                                      *ngIf="errors.get('ankunftOrt')">
                                {{errors.get('ankunftOrt')}}
                            </ion-text>
                        </ion-item>
                    </ion-col>
                </ion-row>
            </div>
            <!---------------------------------------------->
            <!----------------- Start Tab ------------------>
            <!---------------------------------------------->
            <div *ngSwitchCase="'start'">
                <ion-row>
                    <ion-col size="9">
                        <ion-item lines="none">
                            <ion-label class="label-margin" position="stacked">Abfahrtstraße</ion-label>
                            <ion-input [readonly]="detailmode"
                                       [(ngModel)]="gesuch.abfahrtStrasse" type="text"></ion-input>
                            <ion-text class="ion-text-end ion-padding-end"
                                      style="color:var(--ion-color-danger)"
                                      *ngIf="errors.get('abfahrtStrasse')">
                                {{errors.get('abfahrtStrasse')}}
                            </ion-text>
                        </ion-item>
                    </ion-col>
                    <ion-col size="3">
                        <ion-item lines="none">
                            <ion-label class="label-margin" position="stacked">Nr.</ion-label>
                            <ion-input [readonly]="detailmode"
                                       [(ngModel)]="abfahrtNummer" type="text"></ion-input>
                            <ion-text class="ion-text-end ion-padding-end"
                                      style="color:var(--ion-color-danger)"
                                      *ngIf="errors.get('abfahrtNummer')">
                                {{errors.get('abfahrtNummer')}}
                            </ion-text>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="4">
                        <ion-item lines="none">
                            <ion-label class="label-margin" position="stacked">PLZ</ion-label>
                            <ion-input [readonly]="detailmode"
                                       [(ngModel)]="gesuch.abfahrtPlz" type="number"></ion-input>
                            <ion-text class="ion-text-end ion-padding-end"
                                      style="color:var(--ion-color-danger)"
                                      *ngIf="errors.get('abfahrtPlz')">
                                {{errors.get('abfahrtPlz')}}
                            </ion-text>
                        </ion-item>
                    </ion-col>
                    <ion-col size="8">
                        <ion-item lines="none">
                            <ion-label class="label-margin" position="stacked">Abfahrtsort</ion-label>
                            <ion-input [readonly]="detailmode"
                                       [(ngModel)]="gesuch.abfahrtOrt" type="text"></ion-input>
                            <ion-text class="ion-text-end ion-padding-end"
                                      style="color:var(--ion-color-danger)"
                                      *ngIf="errors.get('abfahrtOrt')">
                                {{errors.get('abfahrtOrt')}}
                            </ion-text>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="8">
                        <ion-item lines="none">
                            <ion-label class="label-margin" position="stacked">Bezahlung</ion-label>
                            <ion-input [readonly]="detailmode"
                                       [(ngModel)]="gesuch.bezahlung" type="text"></ion-input>
                            <ion-text class="ion-text-end ion-padding-end"
                                      style="color:var(--ion-color-danger)"
                                      *ngIf="errors.get('bezahlung')">
                                {{errors.get('bezahlung')}}
                            </ion-text>
                        </ion-item>
                    </ion-col>
                </ion-row>
            </div>
        </div>

        <h3 class="ion-margin-start">
            Lieferobjekt
        </h3>
        <ion-item lines="none">
            <ion-label class="label-margin" position="stacked">Titel</ion-label>
            <ion-input [(ngModel)]="lieferobjekt.name" [readonly]="detailmode" type="text"></ion-input>
            <p class="ion-text-end ion-padding-end"
               style="color:var(--ion-color-danger)"
               *ngIf="errors.get('name')">
                {{errors.get('name')}}
            </p>
        </ion-item>
        <ion-item lines="none">
            <ion-label class="label-margin" position="stacked">Beschreibung</ion-label>
            <ion-textarea [(ngModel)]="lieferobjekt.beschreibung" [readonly]="detailmode" type="text"></ion-textarea>
            <p class="ion-text-end ion-padding-end"
               style="color:var(--ion-color-danger)"
               *ngIf="errors.get('beschreibung')">
                {{errors.get('beschreibung')}}
            </p>
        </ion-item>
        <ion-row>
            <ion-col size="4">
                <ion-item lines="none">
                    <ion-label class="label-margin" position="stacked">Preis</ion-label>
                    <ion-input [(ngModel)]="lieferobjekt.preis" [readonly]="detailmode"></ion-input>
                    <p class="ion-text-end ion-padding-end"
                       style="color:var(--ion-color-danger)"
                       *ngIf="errors.get('preis')">
                        {{errors.get('preis')}}
                    </p>


                </ion-item>
            </ion-col>
        </ion-row>
        <ion-button *ngIf="!detailmode" expand="block" class="bg-green ion-margin-top" (click)="save()">
            Speichern
        </ion-button>
        <ion-button *ngIf="detailmode" expand="block" class="bg-green ion-margin-top" (click)="dismiss()">
            Zurück
        </ion-button>
    </ion-list>
</ion-content>
