<ion-content>
    <div class="content">
        <ion-card>
            <ion-card-header>
                <p class="title">REGISTRIEREN</p>
                <img class="center" src="../../../../assets/icon/MyCargonaut.png" alt="MyCargonaut"/>
            </ion-card-header>

            <ion-card-content>
                <ion-input type="email" name="mail" placeholder="E-Mail..."></ion-input>
                <ion-input type="text" name="username" placeholder="Nutzername..."></ion-input>
                <ion-input type="password" name="password" minlength="6" placeholder="Passwort..."></ion-input>

                <div class="center">
                    <button class="auth-button">Registrieren</button>
                </div>

                <p class="info">Bereits registriert? <br> Klicke <a [routerLink]="'/login'">hier</a>, um dich
                    anzumelden.
                </p>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>
