<ion-content>
    <div class="cargo-content">
        <ion-card>
            <ion-card-header>
                <p class="title">REGISTRIEREN</p>
                <img class="center" src="https://firebasestorage.googleapis.com/v0/b/mycargonaut-8ae2c.appspot.com/o/MyCargonaut.png?alt=media&token=7f41b570-a129-4831-9cd6-3163e89c0902" alt="MyCargonaut"/>
            </ion-card-header>

            <ion-card-content>
                <ion-input #focus
                           clearOnEdit="false"
                           [(ngModel)]="email"
                           type="email"
                           name="mail"
                           placeholder="E-Mail..."
                           required>
                </ion-input>

                <p class="ion-text-end ion-padding-end" style="color:var(--ion-color-danger)"
                   *ngIf="errors.get('email')">
                    {{errors.get('email')}} </p>

                <ion-input clearOnEdit="false"
                           [(ngModel)]="username"
                           type="text"
                           name="username"
                           placeholder="Nutzername..."
                           required>
                </ion-input>

                <p class="ion-text-end ion-padding-end" style="color:var(--ion-color-danger)"
                   *ngIf="errors.get('username')">
                    {{errors.get('username')}} </p>

                <ion-input clearOnEdit="false"
                           [(ngModel)]="firstname"
                           type="text"
                           name="firstname"
                           placeholder="Vorname..."
                           required>
                </ion-input>

                <p class="ion-text-end ion-padding-end" style="color:var(--ion-color-danger)"
                   *ngIf="errors.get('firstname')">
                    {{errors.get('firstname')}} </p>

                <ion-input clearOnEdit="false"
                           [(ngModel)]="lastname"
                           type="text"
                           name="lastname"
                           placeholder="Nachname..."
                           required>
                </ion-input>

                <p class="ion-text-end ion-padding-end" style="color:var(--ion-color-danger)"
                   *ngIf="errors.get('lastname')">
                    {{errors.get('lastname')}} </p>

                <ion-input clearOnEdit="false"
                           [(ngModel)]="password"
                           type="password"
                           name="password"
                           minlength="6"
                           placeholder="Passwort..."
                           required>
                </ion-input>

                <p class="ion-text-end ion-padding-end" style="color:var(--ion-color-danger)"
                   *ngIf="errors.get('password')">
                    {{errors.get('password')}} </p>

                <ion-input clearOnEdit="false"
                           [(ngModel)]="passwordConfirmation"
                           type="password"
                           name="passwordConfirmation"
                           minlength="6"
                           placeholder="Passwort bestätigen..."
                           required>
                </ion-input>

                <p class="ion-text-end ion-padding-end" style="color:var(--ion-color-danger)"
                   *ngIf="errors.get('passwordConfirmation')">
                    {{errors.get('passwordConfirmation')}} </p>

                <div class="center">
                    <button class="auth-button" (click)="register()">Registrieren</button>
                </div>

                <p class="info">Bereits registriert? <br> Klicke <a [routerLink]="'/login'">hier</a>, um dich
                    anzumelden.
                </p>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>
