<ion-content>
    <ion-card>
        <ion-card-content>

            <ion-grid>
                <ion-row>
                    <ion-col>
                        <img src="https://firebasestorage.googleapis.com/v0/b/mycargonaut-8ae2c.appspot.com/o/man.jpeg?alt=media&token=f73fcaba-cdb1-4a80-ac95-3c6defe453bf" alt="profilbild">
                    </ion-col>

                    <ion-col>
                        <p class="name">{{interessent.vorname || 'Kein Vorname hinterlegt!'}} {{interessent.nachname || 'Kein Nachname hinterlegt!'}}</p>
                    </ion-col>

                    <ion-col class="stars">
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star-half-outline"></ion-icon>
                        <ion-icon name="star-outline"></ion-icon>
                    </ion-col>
                </ion-row>
            </ion-grid>


            <ion-item lines="full">
                <p>
                    <ion-icon name="mail-outline" slot="start"></ion-icon>
                    {{interessent.email || 'Keine Email hinterlegt!'}}
                </p>
            </ion-item>

            <ion-item lines="full">

                <p>
                <p>
                    <ion-icon name="call-outline" slot="start"></ion-icon>
                    {{interessent.telefon || 'Keine Telefonnummer hinterlegt!'}}
                </p>
            </ion-item>

            <br>
            <br>
            <ng-container *ngIf="fahrzeug">
                <ion-item lines="full">
                    <p>{{fahrzeug.marke || 'Keine Marke hinterlegt!'}} {{fahrzeug.modell || 'Kein Modell hinterlegt!'}}</p>
                </ion-item>

                <ion-item lines="full">
                    <p>Fahrzeugart: {{fahrzeug.fahrzeugart || 'Keine Fahrzeugart hinterlegt!'}}</p>
                </ion-item>
                <ion-item lines="full">
                    <p>{{fahrzeug.hoehe || 'Keine Höhe hinterlegt!'}}m x {{fahrzeug.breite || 'Keine breite hinterlegt!'}}m x {{fahrzeug.tiefe || 'Keine tiefe hinterlegt!'}}m</p>
                </ion-item>
            </ng-container>
            <ng-container *ngIf="lieferobjekt">
                <ion-item lines="full">
                    <p>{{lieferobjekt.name || 'Kein Name hinterlegt!'}}</p>
                </ion-item>

                <ion-item lines="full">
                    <p>Preis: {{lieferobjekt.preis || 'Kein Preis hinterlegt!'}}</p>
                </ion-item>
                <ion-item lines="full">
                    <p>{{lieferobjekt.beschreibung || 'Keine Beschreibung hinterlegt!'}}</p>
                </ion-item>
            </ng-container>

            <ion-row class="ion-justify-content-center">
                <ion-list>
                    <button (click)="dismissClickPopover()" class="accept">Schließen</button>
                </ion-list>
            </ion-row>

        </ion-card-content>
    </ion-card>
</ion-content>
