<ion-content>
    <div class="content">
        <ion-card>
            <ion-card-content>
                <div class="profile-wrapper ion-margin-horizontal">
                    <ion-row class="ion-justify-content-center">
                        <ion-col class="ion-justify-content-center">
                            <!-- PROFILE PICTURE  -->
                            <img src="../../../assets/icon/man.jpeg" alt="profilbild">
                        </ion-col>
                        <ion-col>
                            <span>Max Mustermann</span>
                        </ion-col>
                        <ion-col>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-list>
                            <ion-item class="profile-item">
                                <ion-icon name="call-outline" slot="start"></ion-icon>
                                <ion-label>0123 456789</ion-label>
                            </ion-item>
                        </ion-list>
                    </ion-row>
                </div>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>
