<ion-header>
    <ion-toolbar>
        <ion-title class="ion-text-center">Suchen</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <div class="cargo-content content-center">
        <ion-row>
            <ion-col>
                <ion-row>
                    <ion-segment mode="ios" (ionChange)="segmentChanged($event)" [(ngModel)]="tabSwitch">
                        <ion-segment-button value="gesuche">
                            <ion-label>Gesuche</ion-label>
                        </ion-segment-button>
                        <ion-segment-button value="angebote">
                            <ion-label>Angebote</ion-label>
                        </ion-segment-button>
                    </ion-segment>
                </ion-row>
                <ion-row class="ion-justify-content-center">
                    <ion-list>
                        <ion-item lines="none">
                            <ion-label class="label-margin" position="stacked">Startort</ion-label>
                            <ion-input [(ngModel)]="startort"></ion-input>
                        </ion-item>
                        <ion-item lines="none">
                            <ion-label class="label-margin" position="stacked">Zielort</ion-label>
                            <ion-input [(ngModel)]="zielort"></ion-input>
                        </ion-item>
                        <div [ngSwitch]="tabSwitch">

                            <div *ngSwitchCase="'gesuche'">
                                <ion-item lines="none">
                                    <ion-label class="label-margin" position="floating">Ankunftsdatum</ion-label>
                                    <ion-datetime displayFormat="DD/MM/YYYY" [min]="now" [max]="now + 2" placeholder="Ankunftsdatum wählen" [(ngModel)]="endDate"></ion-datetime>
                                </ion-item>
                            </div>

                            <div *ngSwitchCase="'angebote'">
                                <ion-item lines="none">
                                    <ion-label position="floating">Ankunftsdatum</ion-label>
                                    <ion-datetime displayFormat="DD/MM/YYYY" [min]="now" [max]="now + 2" placeholder="Ankunftsdatum wählen" [(ngModel)]="endDate"></ion-datetime>
                                </ion-item>
                            </div>

                        </div>
                    </ion-list>
                </ion-row>

                <div [ngSwitch]="tabSwitch">

                    <div *ngSwitchCase="'gesuche'">
                        <ion-button expand="block" class="bg-green ion-margin-top" (click)="gesuchSearch()">
                            Gesuche finden
                        </ion-button>
                    </div>
                    <div *ngSwitchCase="'angebote'">
                        <ion-button expand="block" class="bg-green ion-margin-top" (click)="angebotSearch()">
                            Angebote finden
                        </ion-button>
                    </div>

                </div>


            </ion-col>
        </ion-row>
    </div>
</ion-content>
<app-navbar></app-navbar>
