<ion-content>
    <div class="cargo-content">
        <ion-card style="padding: 5%">
            <ion-card-header>
                <p class="title">LOGIN</p>
                <img class="center" src="../../../../assets/icon/MyCargonaut.png" alt="MyCargonaut"/>
            </ion-card-header>

            <ion-card-content>
                <ion-input #focus
                           clearOnEdit="false"
                           [(ngModel)]="email"
                           type="email"
                           name="mail"
                           placeholder="E-Mail..."
                           required>
                </ion-input>

                <p class="ion-text-end ion-padding-end" style="color:var(--ion-color-danger)"
                   *ngIf="errors.get('email')">
                    {{errors.get('email')}} </p>

                <ion-input clearOnEdit="false"
                           [(ngModel)]="password"
                           type="password"
                           name="password"
                           minlength="6"
                           placeholder="Passwort..."
                           required>
                </ion-input>

                <p class="ion-text-end ion-padding-end" style="color:var(--ion-color-danger)"
                   *ngIf="errors.get('password')">
                    {{errors.get('password')}} </p>

                <div class="center">
                    <button class="auth-button" (click)="login()">Login</button>
                </div>

                <p class="info">Noch nicht registriert? <br> Klicke <a [routerLink]="'/register'">hier</a>, um dich zu
                    registrieren.
                </p>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>
